.ItemGridWidget-grid {
    padding: 7px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(160px, 1fr) );
    grid-gap: 7px;
    border-radius: 1rem;
}
.ItemGridWidget-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ItemGrid-Item__grid {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    min-height: 14rem;
}
.ItemGrid-Item__grid-Logo {
    width : 40%;
    height: 40%;
    margin: 1rem;
}
.ItemGrid-Item__list {
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.ItemGrid-Item__list:first-child {
    border: none;
}
.ItemGrid-Item__list-Logo {
    margin: 5px 1rem;
    width : 10%;
    height: 10%;
}
.ItemGrid-Item-name {
    font-weight: bold;
    font-size: large;
}
.ItemGrid-Item-symbol,
.ItemGrid-Item-priceBTC,
.ItemGrid-Item-priceUSD {
    
}
.ItemGrid-Item-marketCap {
    color: #999;
    font-size: small;
}

.ItemGrid-Item__grid > .ItemGrid-Item-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #efefef;
    width:2rem;
    height: 2rem;
    border-radius: 100%;
    top: .5rem;
    left: .5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}
.ItemGrid-Item__grid > .ItemGrid-Item-rank[data-rank="1"]{
    background-color: gold;
}
.ItemGrid-Item__grid > .ItemGrid-Item-rank[data-rank="2"]{
    background-color: silver;
}
.ItemGrid-Item__grid > .ItemGrid-Item-rank[data-rank="3"]{
    background-color: burlywood;
}
.ItemGrid-Item__list > div {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}
.ItemGrid-Item__list > .ItemGrid-Item-rank {
    width: 2rem;
    display: flex;
    justify-content: center;
}
.ItemGrid-Item__list > .ItemGrid-Item-symbol {
    width: 4rem;
    padding-left: .5rem;
    display: flex;
    font-weight: bold;
}
.ItemGrid-Item__list > .ItemGrid-Item-name {
    display: none;
}
.ItemGrid-Item__list > .ItemGrid-Item-price {
    width: 7rem;
    padding-right: 1rem;
    text-align: right;
}
.ItemGrid-Item__list > .ItemGrid-Item-marketCap {
    min-width: 7rem;
    padding-right: 1rem;
    text-align: right;
}